.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    background-color: #212621;
    width: 100%;
    margin-top: 30px;
    color: lightgray;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .footerBox{
    min-width: 500px;
    
  }
  
  .footerBox p {
    display: flex;
      justify-content: center;
  }
  
  .footerBox image{
    display: flex;
      justify-content: center;
  }
  .footerBox a{
    display: flex;
      justify-content: center;
  }