.container {
    padding: 0 0rem;
  }
  
  .main {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
    background-color: #212621;
    width: 100%;
    margin-top: 30px;
    color: lightgray;
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .title a {
    color: #0070f3;
    text-decoration: none;
  }
  
  .title a:hover,
  .title a:focus,
  .title a:active {
    text-decoration: underline;
  }
  
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    margin-top: 30px;
  }
  
  .title,
  .description {
    text-align: center;
  }
  
  .description {
    margin: 4rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #0070f3;
    border-color: #0070f3;
  }
  
  .card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .card,
    .footer {
      border-color: #222;
    }
    .code {
      background: #111;
    }
    .logo img {
      filter: invert(1);
    }
  }
  


.HeroImage {
    margin-top: 0px;
}

.HeroImage img {
    width: 100%;
    height: 520px;
    object-fit: cover;
}
.Logo {
    float: left;
}
.Navigation {
    margin-bottom: 12px;
    margin: auto;
    float: left;
}
.Navigation a {
    padding: 12px;

}

.box {
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
    float: left;
    padding: 12px;
   
}

.box img {
    width: 100%;

}

.box p {
    overflow:hidden;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.boxOuter{
    max-width: 300px;
    padding: 20px;
    float: left;
}

.boxedContainer {
    max-width: 900px;
    margin: auto;
}
.header {
    min-height: 23px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.header .boxedContainer {
    
    margin-bottom: 10px;
}

.footerBox{
  min-width: 500px;
  
}

.footerBox p {
  display: flex;
    justify-content: center;
}

.footerBox image{
  display: flex;
    justify-content: center;
}
.footerBox a{
  display: flex;
    justify-content: center;
}
.button{
  padding: 10px;
  border-radius: 15px;
  border-color: #eaeaea;
  
}
.buttonExtra{
  padding: 10px;
  border-radius: 15px;
  border-color: #eaeaea;
  background-color: blueviolet;
  color: white;
}

.SectionDescription {
  text-align: center;
}